
<section class="container-fluid">
<div class="container">
  <div class="row">
  <div class="col-6 card line">
    <div class="card-body">
      <h3 class="text-center title h3style">Registration Form</h3>
      <hr class="line">
      <form class="form" #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field>
              <mat-label> First Name</mat-label>
              <input matInput  name="firstname"  [(ngModel)]="registerData.firstname" #firstname="ngModel" pattern="[a-zA-Z\s]+" autocomplete="off" required>
              <mat-error *ngIf="firstname.invalid &&(firstname.dirty || firstname.touched)">
                <div *ngIf="firstname.hasError('required')">
                  Please enter First Name
                </div>
                <div *ngIf="firstname.hasError('pattern')">
                  please enter alphabets only.

                </div>
  
              </mat-error>
            </mat-form-field>
            
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field>
              <mat-label> Last Name</mat-label>
              <input matInput  name="lasttname"  [(ngModel)]="registerData.lastname" #lastname="ngModel" pattern="[a-zA-Z\s]+" autocomplete="off"  required>
              <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                <div *ngIf="lastname.hasError('required')">
                  Please enter Last Name
                </div>
                <div *ngIf="lastname.hasError('pattern')">
                  please enter alphabets only.
                </div>
              </mat-error>
            </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field>
              <mat-label> User Name</mat-label>
              <input matInput name="username"  [(ngModel)]="registerData.username" #username ="ngModel" autocomplete="off"  required>
              <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="username.hasError('required')">
                  Please enter username
                </div>
              </mat-error>
            </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field>
              <mat-label> Email </mat-label>
              <input matInput type="text" name="email"  [(ngModel)]="registerData.email" #email="ngModel" pattern="([A-Za-z0-9_\-\.])+([A-Za-z0-9_\-\.])+([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})" autocomplete="off"  required>
              <mat-error *ngIf="email.invalid &&(email.dirty || email.touched)">
                <div *ngIf="email.hasError('required')">
                  Please enter Email Id
                </div>
                <div *ngIf="email.hasError('pattern')">
                  Please enter valid Email Id

                </div>
                
              </mat-error>
            </mat-form-field>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field>
              <mat-label> Password</mat-label>
              <input matInput type="password"  name="password"  [(ngModel)]="registerData.password" #password="ngModel" autocomplete="off"  required minlength="8">
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.hasError('required')">
                  Please enter Password 
                </div>
                <div *ngIf="password.hasError('minlength')">
                Minimum 8 characters are required.
                </div>
                
                  
        
              </mat-error>
            </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              
              
              <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
              <input class="mr-3" (change)="onFileSelected()" #fileInput type="file" id="file">
            
            </div>
          </div>
        </div>
        <!-- <div class="">
          <button type="button" class="btn btn-success  mr-2" (click)="register()">Submit</button>
          <button type="button" class="btn btn-primary  " [routerLink]="['/login']">Login</button>
        </div> -->

        <button type="submit" (click)="register()"
        routerLinkActive="router-link-active mr-2" mat-stroked-button color="accent"[disabled]="regForm.invalid">Submit</button>
        <button type="button" class="ml-4" [routerLink]="['/login']" mat-stroked-button color="primary">Login</button>
      </form>
   
    </div>
  </div>

  <div class="col-6">
    <img src="../../assets/images/reg-img.png" height="450" class="RegistrationImg">
  </div>
</div>
</div>
</section>