/* .bg{
    background-color: rgb(222, 229, 243);
} */

.imgstyle{
    width: 300px;
    height: 180px;

}
.ptag{
    margin-top: 17px;
    margin-left: 16px;

}
.sty5{
    margin-top: 12px;
    margin-left: 78px;
}
.likesstyle{
    width: 300px;
    margin-left: 83px;
}
/* .card{
    width: 500px;
} */
/* .example-card {
    width: 250px;
  } */
  
  .example-header-image {
     /* background-image: url({{hero.file}});  */
    background-size: cover;
  }

  @media (min-width: 1200px){
  .container {
      max-width:none;
  }
}
  .row{
      margin-left: 0px !important;
  }
  