ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 140%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
@media (min-width: 768px){
.offset-md-3 {
    margin-left: 10%;
}
}
.date{
    margin-left: 180px;
    margin-top: 10px;
}

.background{
    width: 150px;
    height: 150px;
    margin-top: 39px;
}
.name{
    font-size: 22px;
    cursor: pointer;
    color: #1a4879;
}
h3{
    margin-left: 125px;
    color: #1a4879;
}
.row{
    box-shadow:1px 1px 5px -3px;
    width:900px;
}
/* .background{
    width: 151px;
    height: 151px;

    border: 2px solid;
}
.tagstyle{
    color: black;
    margin-left: -21px;

}
.tagstyle h4{
    margin-top: 30px;
}
.fas{
    margin-top: 51px;
    width: 63px;
    height: 30px;
    background: #9e9e9eb8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fas:hover{
    background-color: black;
    color: white

}
.card{
    width: 500px
}
.card1{
    width:250px;
} */