
 <div class="container-fluid">
  <div class="container">
    <div class="row main">
      <div class="col-md-6">
        <img src="../../assets/images/login image.jpg" height="450" class="logImg">
      </div>
      <div class="col-md-6 colstyle">
        <div class="card mx-auto">
          <div class="card-body p-0">
            <div class="cardstyle">
              <h6>Welcome to </h6>
              <h2 class="p-0 title">Friendshub</h2>
            </div>
            <div class="logInForm">
              <h5 class="text-center">Login</h5>
              <hr>
              <form>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="username" name="Username" [(ngModel)]="logindata.username"
                    autocomplete="off">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input type="password" matInput placeholder="password" name="password"
                    [(ngModel)]="logindata.password">
                </mat-form-field>

                <div class="mt-2 d-flex justify-content-end">
                  <button type="button" class="btn btn-success mr-2" (click)="login()"
                    routerLinkActive="router-link-active">Submit</button>
                  <button type="button" class="btn btn-primary" [routerLink]="['/registration']">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
