.background{
    height: 226px;   
    margin-left: 300px;
   background: #1a4879;
    /*  background: linear-gradient(45deg, rgba(37,54,124,1) 37%, rgba(56,77,156,1) 55%); */
    /* background: rgb(37,54,124);
    background: linear-gradient(162deg, rgba(37,54,124,1) 34%, rgba(56,77,156,1) 55%); */
    /* background-image: url(../../../assets/images/students-1807505_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -141px; */ 
    /* width: 879px; */
}
.card{
    margin-left: 231px;
    height: 36px;
}
.card-body{
    box-shadow: 1px 1px 20px 2px;
    padding:0px !important;

}
.bg-menu{
    background: rgb(23,162,184);
    background: linear-gradient(177deg, rgba(23,162,184,1) 33%, rgba(100,161,170,0.6110819327731092) 90%, rgba(157,235,241,1) 100%);
}

.cover-menu h6{
    cursor: pointer;
   
}
.iconstyle{
    float: right;
    margin-top: -6px;
    color: black;
}
a:hover{
    text-decoration: none !important;
    outline: none;
    border: none;
    color: honeydew;
    
}
a{
    margin-top: 5px;
}
.layout{
    position:absolute;
    padding: 2rem;
    width: 70%;
    margin-left: 40px;
    margin-top: 150px;
    /* box-shadow: 2px 3px 2px 0px; */
    background: #23568c;
   z-index: 99;
}
.logout{
    color: #5ea2ea;
    font-size: 18px;
    float: right;
    cursor: pointer;
}
.badge{
    border-radius: 50%;
    font-size: 66%;
    }
    .badge-light{
        color: #fff;
        background-color: #ff5722;
    }