.background{
    height: 226px;   
    margin-left: 300px;
    background: #1a4879;
    position: relative;
}

.headings{
    position: absolute;
    top: 45px;
    left:40px;
}
.headings h5{
  font-weight: lighter;
  font-size: 2rem;
  color: #FFBF00;
}
.fixed-top{
  background: #1a4879;
  position: fixed;
  top: 0px;
  right: 0;
  left: 300px;
  bottom: 470px;
  z-index: 999;
}
.headings p{
  font-weight: lighter;
}
.clock{
  font-size: 2rem;
  font-weight: lighter;
  position: absolute;
  right: 10px;
  margin-right: -28px;
  margin-top: 23px;
}
.clock .ext{
  font-size: 1rem;
  font-weight: lighter;
}
.clock .date{
  font-size:15px;
  font-weight: lighter;
  color: #FFBF00;
}
.mat-form-field-flex{
  padding: 0px !important;
}
  .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0) !important;
}
.date-pic{
  color: transparent !important;
}
.date{
  color: #FFBF00;
}
.mat-form-field-wrapper {
  padding-bottom:0px !important;
}

.mat-form-field-flex {
 display: none !important;
 padding-bottom:0px !important;
color: transparent !important;
}
.card{
    margin-left: 231px;
    height: 36px;
}
.card-body{
    box-shadow: 1px 1px 20px 2px;
    padding:0px !important;

}
.bg-menu{
    background: rgb(23,162,184);
    background: linear-gradient(177deg, rgba(23,162,184,1) 33%, rgba(100,161,170,0.6110819327731092) 90%, rgba(157,235,241,1) 100%);
}

.cover-menu h6{
    cursor: pointer;
   
}
.iconstyle{
    float: right;
    margin-top: -6px;
    color: black;
}
a:hover{
    text-decoration: none !important;
    outline: none;
    border: none;
    color: honeydew;
    
}
a{
    margin-top: 5px;
}
.layout{
    position:absolute;
    padding: 2r em;
    width: 90%;
    margin-left:23px;
    margin-top: 150px;
    /* box-shadow: 2px 3px 2px 0px; */
    background: #23568c;
   z-index: 99;
}
.logout{
    color: #5ea2ea;
    font-size: 18px;
    float: right;
    cursor: pointer;
}
.badge{
    border-radius: 50%;
    font-size: 66%;
 }
.badge-light{
        color: #fff;
        background-color: #ff5722;
 }
 .example-tooltip-red {
    background: #b71c1c;
  }
  .Log-off{
      color: red;
      background: #ff000024;
      font-weight: 500;
  }
  .Log-off:hover{
      color: white;
      background: red !important;
      font-weight: 500;
  }
  /* .navigation {
    width: 100%;
    background-color: black;
  }
  
  .img{
    width: 25px;
    border-radius: 50px;
    float: left;
  }
  
  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
      position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    
  }
  
  .button1{
      text-decoration: none;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 25px;
    background-color: rgb(235, 191, 191);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
  }
  
  a:hover {
    width: 100px;
  }
  
  a:hover .logout{
    opacity: .9;
  }
  
  a {
    text-decoration: none;
  } */
  