#messages {
    height: 300px;
    overflow-y: scroll;
}

h5 {
    font-weight: 400;
    margin-right: 5px;
    font-size: 1.2rem;
}

span {
    font-weight: 500;
    font-size: 1.8rem;
}

ul li {
    list-style-type: none;
}

ul li a {
    font-size: 1.5rem;
}