
  <div class="container">
      <div class="row d-flex">
          <div class="col-md-6 offset-md-3 col-sm-12">
              <div class="row">
                  <div class="col-2">

            <img src='assets/images/zyclyx image.png' class=" rounded-circle background">
        </div>
        <div class="col-8">
              <h1 class="h1style">
                  Messenger
                  <!-- <button id="clear" class="btn btn-danger"></button> -->
              </h1>
            </div>
            </div>
              <div id="status"></div>
              <div id="chat">
                  
                                       
                  <div class="d-flex justify-content-between">
                      <h5>User - <span class="spanstyle">{{user}}</span></h5>
                      <h5>Friend - <span id="online"></span></h5>
                  </div>


                  <br>
                  <div class="card" >

                
                      <div id="messages" class="card-block">

                      </div>
                  </div>
                  <br>
                  <textarea id="textarea" class="form-control" name="msg"  [(ngModel)]="msgdata.msg" (keyup.enter)="sendmessage()"placeholder="Enter message..."></textarea>
              </div>
          </div>
          <div class="col-md-3 users align-self-center"  >
            <!-- <ul >
                <li><a href="" data-friend="umesh">umesh</a></li>
                <li><a href="" data-friend="pavan">pavan</a></li>
                <li><a href="" data-friend="sandeep">sandeep</a></li>
                <li><a href="" data-friend="prathusha">prathusha</a></li>
            </ul> -->
              <!-- <ul *ngFor="let hero of array1" >

               
                <li #messageEl  [attr.data-message]="hero.username">
               
                  <a   href="">   {{ hero.username }} </a>
                </li>
              </ul> -->
              <div class="card mt-1" *ngFor="let hero of array1">
                  <div class="row">
                      <div class="col-4">
                <img src="{{hero.file}}" class=" rounded-circle background">
            </div>
            <div col-6>
                <ul>
              <li #messageEl class="ancstyle"  [attr.data-message-id]="hero.username" >
               
                <a (click)="logMessageId(messageEl)">{{ hero.username }} </a>
            
              </li>
            </ul>
              </div>
            </div>
            </div>
          </div>
      </div>
  </div>

  

 

 <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    MongoChat 
                    <button id="clear" class="btn btn-danger">Clear</button>
                </h1>
                <div id="status"></div>
                <div id="chat">
                    <input type="text" id="username" class="form-control" placeholder="Enter name...">
                    <br>
                    <div class="card">
                        <div id="messages" class="card-block">

                        </div>
                    </div>
                    <br>
                    <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                </div>
            </div>
        </div>
    </div> -->
