<div class="container-fluid">
  <div class="container">
    <div class="row" >
      <div class="col-6" *ngFor='let hero of array3'>
        <div class="card cardstyle">
          <div class="card-header d-flex align-items-center">
            <img src="{{hero.file}}" class="rounded-circle" width="60px" height="60px">
            <strong class="ml-2 text-dark">{{hero.comment|uppercase}}</strong>
          </div>
          <div class="card-body ">

            <div class="d-flex">
            </div>
            <div>
              <img src="{{hero.postimg}}" class="sty4" width="300px" height="250px">

              <div class="sty5">
                <p>{{hero.date}}</p>
              </div>
              <div>
                <p>{{hero.likes}}Likes</p>
              </div>
              <hr>
              <div class="astyle d-flex justify-content-around">
                <button mat-button color="primary" (click)="displaycount(hero) "><i class="fa fa-thumbs-up fa-1x mr-1"></i>Like</button>
                <!-- <a class="btn" (click)="displaycount(hero) "><i class="fa fa-thumbs-up fa-1x mr-1"></i><span
                    class="">Like</span></a> -->
                <button mat-button color="primary" (click)="comment(hero)"><i class="fa fa-comments fa-1x mr-1"></i>comment</button>

                <button mat-button color="primary"><i class="fa fa-share-alt mr-1"></i>share</button>
              </div>
              <div #id2 style="display: none;">
                <div class="">
                  <div class=" d-flex  align-items-center" *ngFor='let hero of commentarray1'>
                    <img src="{{hero.from_id}}" class="rounded-circle" width="40px" height="40px">
                    <h6 class="mt-2 ml-2">{{hero.commentonpost}}</h6>

                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="commentonpost" [(ngModel)]="logindata.commentonpost"
                      aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        (click)="commentdata(hero)">Button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>