body {
    margin: 0; 
    /* font-family: sans-serif !important;     */
  }
.app-sidebar{
  /* background-color: #007bff29; */
  background-color: #1a4879;
  margin-bottom: 10px;
  box-shadow: none;
  width: 300px !important;

}
mat-grid-tile:hover{
  /* background: #8196ff; */
  color: #fff;
  border-radius: 7px;
  background: linear-gradient(145deg, rgb(77, 138, 202) ,#1a4879);
  box-shadow:  16px 16px 32px , 
             -16px -16px 32px ;
  
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: #25d1c8 !important;
  }
  .img11{
    width: 116px;
    margin-left: 73px;
    height: 105px;
  }
  .spa{
    color: black;
    font-size: 16px;
  }
  .imagebackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .rounded{
    width: 100px;
    border: 1px solid #3a3a3a;
    /* box-shadow: 0px 1px 2px 0px; */
    height: 100px;
  }
 
  .nav {
    font-size: 15px;
  }
  .namestyle{
   
    font-size: 30px;
    color: black;
  }
 
  .menuItems{
    background: rgba(173, 216, 230, 0.2);
  }
  .menuItems i{
    margin-right: 10px;
  }

  .badge{
    width: 20px;
  }
  .nav-link{
   padding-left: 27px;
   display: block;
   padding: 20px;
 }
 a:hover{
   color: #fff;
   
 }

 .v-sidebar-menu i{
font-size: 20px;
 }
 .v-sidebar-menu p{
font-size: 12px;
margin-bottom: 0px;

 }
 .names .dept{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   /* flex-direction: column; */
 }
 .names .dept h6{
   margin-left: 20px;
   margin-bottom: 0;
 }
 .names .dept i{
   background-color: #4b7eaf;
   /* font-size: 20px; */
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px;
   border-radius: 50px !important;
 }
 .dept{
  background-color: #2a629c;
  padding: 7px 20px;
  border-radius: 50px;
  text-align: center;
 }