<div class="container-fluid view-bg">
  <div class="row ">
    <div class="col-4 p-3 d-flex justify-content-center align-items-center">      
<div class="mr-4 text-center count">
  <i class="fas fa-users text-info"></i>
  <h5>22</h5>
  <p>Friends</p>
</div>
<div class="mr-4 text-center count">
  <i class="fas fa-paper-plane text-danger "></i>
  <h5>223</h5>
  <p>Posts</p>
</div>
<div class="mr-4 text-center count">
  <i class="fas fa-comment-dots "></i>
  <h5>1522</h5>
  <p>Comments</p>
</div>
    </div>
    <div class="col-4 profile">
  <img class=" dp rounded border-primary shadow" src="{{file1}}" height="120px" width="120px" alt="user" />
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center">
      <button mat-button color="primary">Connect</button>
      <button class="mr-5" mat-button color="accent">Chat</button>
    </div>  
  </div>
  
<div class="text-center">
<h3 class="dp">{{name}}</h3>
 <p class="mt-1 text">Web Developer , 2019</p> 
<h4 class="mt-5">More About</h4>
<p class="about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium animi placeat pariatur reiciendis recusandae voluptatibus aspernatur, consectetur, cupiditate nesciunt dolorem nihil eos. Doloribus culpa iste soluta laudantium? Explicabo, facere corrupti est blanditiis atque nihil commodi iure, temporibus animi dolorum sit incidunt tempora sunt placeat a libero repudiandae labore unde dignissimos aspernatur magnam rem consequuntur neque nesciunt? Maiores assumenda at ipsum, ipsam cupiditate ex praesentium neque dignissimos perspiciatis ea porro illo.</p>
</div>
<hr class="my-4">
</div>
